[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[init]
	templatedir = ~/.git_template
[user]
	email = goncalo.neto@webdetails.pt
	name = Gundi
